<h3>
    MODEL DRIVEN FORM
</h3>

<form  [formGroup]="registerForm" (submit)="submitMyform(registerForm)">

<p>
    FIRSTNAME:<input formControlName="firstname">
    <span class="text-danger" *ngIf="registerForm.controls.firstname.hasError('required')">first name is required</span>
    <span class="text-danger" *ngIf="registerForm.controls.firstname.hasError('minlength')">min 5 char length is must</span>
</p>


<p>
    LASTNAME:<input formControlName="Lastname">
    <span class="text-danger" *ngIf="registerForm.controls.Lastname.hasError('minlength')">min 5 char length is must</span>
</p>


<fieldset formGroupName="address">
    <p>
        Street:
        <input formControlName="street">
        <!-- <span class="text-danger" *ngIf="registerForm.address.controls.street.hasError('required')">Street name is required</span> -->
    </p>
    <p>
        City:
        <input formControlName="city">
        <!-- <span class="text-danger" *ngIf="registerForm.controls.city.hasError('required')">city name is required</span> -->

    </p>
    <p>
        PIN:
        <input formControlName="pin">
        <!-- <span class="text-danger" *ngIf="registerForm.controls.pin.hasError('required')">pin is required</span> -->

    </p>
</fieldset>

<input type="submit" value="submit" />



</form>
<pre>{{registerForm.value | json}}</pre>