
<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-body>

   
</app-body> -->
<!-- <app-observable-demo1></app-observable-demo1> -->
<!-- <app-subjectdemo></app-subjectdemo> -->
<!-- <app-sendmessage></app-sendmessage>
<app-recivemessage></app-recivemessage> -->
<!-- <app-add-to-do></app-add-to-do>
<app-to-do-list1></app-to-do-list1>
<app-to-do-list2></app-to-do-list2> -->
<!-- <app-model-driven-form1></app-model-driven-form1> -->
<!-- <app-model-driven-form2></app-model-driven-form2> -->
<!-- <app-templatefrom1></app-templatefrom1> -->
<!-- <app-employeelist></app-employeelist>  -->
<!-- <app-products></app-products> -->
<!-- <app-productlist></app-productlist> -->
<!-- <app-footer></app-footer> -->
<!-- <app-testing1></app-testing1> -->
<app-users></app-users>